# Solutions to `Python Collection Data Types` Exercise

## 1. The output of running this code

The code will raise an `IndexError` because we are trying to access an index of `list_1` that does not exist (it is empty). When `item` is `0`, it tries to execute `list_1[0].append(0)`, but `list_1` has no elements.

In [ ]:
list_1 = []     # initialize an empty list
for item in range(3):
    list_1[item].append(item)  # this will raise an error because list_1 is empty
print(item)    # print the last value of item in the loop
print(list_1)

## 2. Accessing Index 10 in a `list` or `tuple`

Attempting to access index `10` in the list `numbers` will raise an `IndexError` because valid indices are `0` to `9` for a list of size `10`.

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(numbers[10])  # this will raise an IndexError

## 3. `tuple` Conversion

After converting the tuple to a list and adding two items, converting it back results in `final_tuple` containing `(1, 2, 3, 4, 5, 6, 7)`.

In [ ]:
original_tuple = (1, 2, 3, 4, 5)

temp_list = list(original_tuple)  # tuple to list

temp_list.append(6)  # add an item to the end of the list
temp_list.append(7)  # add an item to the end of the list 

final_tuple = tuple(temp_list)   # list to tuple
print(final_tuple)

## 4. Modifying a `tuple`

Attempting to directly change an element of a `tuple` will raise a `TypeError`. The proper method is to convert it to a `list`, modify the `list`, and then convert it back to a `tuple`.

In [ ]:
my_tuple = (10, 20, 30, 40, 50)

# my_tuple[2] = 35  # this will raise a TypeError because tuples are immutable

# modify tuple contents
temp_list = list(my_tuple)         # convert to a list
temp_list[2] = 35                  # modify it
modified_tuple = tuple(temp_list)  # modify back to a tuple
print(modified_tuple)

## 5. Reversing a String and Slicing

The reversed string is `"!nuf si nohtyP"`, and extracting characters from index `3` to `8` gives `"nuf si"`.

In [3]:
str_a = "Python is fun!"

# Thanks Tina (Yina) Zhou (BARM 2025), for fixing the mistake in the indices
reversed_str = str_a[::-1]       # reverse it using slicing
sliced_str = reversed_str[3:8]   # extract from the 4th to the 8th position (inclusive)
print(sliced_str)

f si

## 6. `range` and `list` Modification

Modifying an item in the converted `list` works, but trying to modify an item directly in the `range` will raise a `TypeError` since ranges are immutable.

In [ ]:
num_range = range(5, 26, 3)  # output 5, 8, 11, 14, 17, 20, 23

num_list = list(num_range)   # range to a list

num_list[4] = 100            # changing the 4th item
print(num_list)  

# try changing directly in the range
num_range[4] = 100  # this raises a TypeError because ranges are immutable

## 7. Generating a Sequence and Summing

The sequence generated will be `[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]`, and the sum of these elements will be `550`.

In [ ]:
seq_range = range(0, 101, 10)
seq_list = list(seq_range)  # convert range into a list

total_sum = sum(seq_list)   # sum it up
print(total_sum)

## 8. Cumulative Sum of Sales

In [ ]:
sales = [100, 150, 200, 250, 300, 350, 400]  # weekly sales

cumsum_sales = []        # initialize an empty list for cumulative sums
current_sum = 0          # initialize current sum

for sale in sales:       # loop through each sale
    current_sum += sale  # add current sale to current sum
    cumsum_sales.append(current_sum)  # append the cumulative sum to the list

print(cumsum_sales)  # output: [100, 250, 450, 700, 1000, 1350, 1750]

## 8.1. Additional challenge: Running Average Calculation

The running average is calculated by dividing the cumulative total by the number of days (using the index) and storing it in `running_avg_sales`. Remember that the index starts from `0`; hence, we need the `index + 1` to account for it.

In [ ]:
running_avg_sales = []    # initialize an empty list for running averages
total_sum = 0             # initialize total sum

for index, sale in enumerate(sales):  # loop through each sale with index
    total_sum += sale                 # add current sale to total sum
    running_average = total_sum / (index + 1)  # calculate running average
    running_avg_sales.append(running_average)  # append to the list

print(running_avg_sales)  # output: [100.0, 125.0, 150.0, 175.0, 200.0, 225.0, 250.0]

## 9. Swapping Keys and Values in a Dictionary

The code creates a new dictionary `swapped_dict` by swapping the keys and values from `alphabet_dict` using dictionary comprehension.

In [ ]:
alphabet_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

swapped_dict = {value: key for key, value in alphabet_dict.items()}  # swap key, value
print(swapped_dict)  # output: {1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

## 10. Average Sales Calculation

In [ ]:
weekly_sales = [200, 300, 250, 400, 350, 380, 420]

average_sales = sum(weekly_sales) / len(weekly_sales) 
print(f'Average sales: {average_sales:.4f}')

## 11. Calculate the Sample Standard Deviation of Stock Prices

The sample standard deviation is calculated using the formula provided. First, we compute the mean of the stock prices. Then, we calculate the variance using list comprehension to find the squared differences from the mean, summing them up, and dividing by `n-1` (degrees of freedom). Finally, we take the square root of the variance.

In [ ]:
import math

stock_prices = [100, 102, 98, 105, 107, 106, 103, 110, 108, 107]
mean_price = sum(stock_prices) / len(stock_prices)

variance = sum([(price - mean_price) ** 2 for price in stock_prices]) / (len(stock_prices) - 1)
std_deviation = math.sqrt(variance)  

print(f'Sample Standard Deviation of Stock Prices: {std_deviation:.4f}')

## 12. Set Operations

In [ ]:
# Define two sets
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

union_result = set_a.union(set_b)                # union
intersection_result = set_a.intersection(set_b)  # intersection
difference_result = set_a.difference(set_b)      # difference
is_subset = set_a.issubset(set_b)                # check subset relationship

print(f'Union: {union_result}')  
print(f'Intersection: {intersection_result}') 
print(f'Difference (set_a - set_b): {difference_result}')
print(f'Is set_a a subset of set_b? {is_subset}')

## 13. Creating a Frozenset

A `frozenset` is an immutable version of a `set`. When attempting to add a new number, an `AttributeError` occurs because `frozensets` do not support modification after creation.

In [ ]:
numbers = [10, 20, 30, 40, 50]
frozen_numbers = frozenset(numbers)  # list to frozenset

frozen_numbers.add(60)               # This will raise an AttributeError

## 14. Comparing Stock Prices of Two Companies

This snippet uses list comprehension to find the indices (days) where the stock price of company B is higher than that of company A.

In [ ]:
prices_A = [100, 102, 98, 105, 107, 106, 103, 110, 108, 107]
prices_B = [101, 103, 99, 106, 108, 105, 102, 111, 109, 108]

higher_prices_days = [day for day in range(len(prices_A)) if prices_B[day] > prices_A[day]]

print(f'Days when company B had a higher closing price than company A: {higher_prices_days}')

## 15. Squaring Odd Numbers

The list comprehension filters the odd numbers from `numbers`, squaring each odd number and storing it in the new list `squared_odds`.

In [ ]:
numbers = list(range(1, 51))  # list of numbers 1, 2, ..., 50

squared_odds = [num ** 2 for num in numbers if num % 2 != 0]

print(f'Squares of odd numbers: {squared_odds}')

## 16. Difference Between Two Snippets Deleting List Elements

Snippet A clears the original list in place, preserving its identity (the same object in memory). Snippet B creates a new list and reassigns `sample_list_b`, resulting in a different object (a new id).

### Snippet A

In [ ]:
sample_list_a = [10, 20, 30]
print(f'old id: {id(sample_list_a)}')
sample_list_a[:] = []  # clear the list using slice assignment
print(sample_list_a)  
print(f'ID after Snippet A: {id(sample_list_a)}')  # show the id of the list

### Snippet B

In [ ]:
sample_list_b = [10, 20, 30]
print(f'old id: {id(sample_list_b)}')
sample_list_b = []  # reassign to a new empty list
print(sample_list_b)  
print(f'ID after Snippet B: {id(sample_list_b)}')  # show the id of the list

## 17. Student Scores Dictionary

In [ ]:
students_scores = {
    'Vicky': {
        'Data Analytics': 85,
        'Business Analytics': 90,
        'Python for Data Analysis': 88
    },
    'Tina': {
        'Data Analytics': 78,
        'Business Analytics': 82,
        'Python for Data Analysis': 85
    },
    'George': {
        'Data Analytics': 92,
        'Business Analytics': 95,
        'Python for Data Analysis': 89
    }
}

# access and print the Business Analytics score of the second student
Tina_BA_score = students_scores['Tina']['Business Analytics']
print(f"Tina's Business Analytics score: {Tina_BA_score}")  

# update the Python for Data Analysis score of the first student
students_scores['Vicky']['Python for Data Analysis'] = 90  # updating
print(f"Updated Python for Data Analysis score for Vicky: {students_scores["Vicky"]["Python for Data Analysis"]}")

## 18. Warehouse Demand Analysis

In [ ]:
demand = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
probabilities = [0.1, 0.05, 0.07, 0.01, 0.08, 0.12, 0.15, 0.09, 0.14, 0.09]

### 18a. combine demand and probabilities into a dictionary

In [ ]:
demand_dict = dict(zip(demand, probabilities))  # combine using zip
print(f'Demand dictionary: {demand_dict}')

### 18b. Calculate expected daily demand and variance

In [ ]:
expected_demand = sum([d * p for d, p in demand_dict.items()])  # E(X)
expected_demand_squared = sum([d**2 * p for d, p in demand_dict.items()])  # E(X^2)
variance = expected_demand_squared - (expected_demand ** 2)  # E(X^2) - E(X)^2

print(f'Expected Daily Demand: {expected_demand}')
print(f'Variance of Daily Demand: {variance}')

### 18c. calculate daily cost Y = 100X
The code combines demand and probabilities into a dictionary using `zip()`, calculates the expected demand and variance using dictionary comprehension, and computes the mean and variance of the daily cost.

In [ ]:
cost_per_use = 100  
mean_cost =  cost_per_use * expected_demand   # E(Y) = 100* E(X)
variance_cost = (cost_per_use ** 2) * variance   # V(Y) = 100^2 * V(X)

print(f'Mean Daily Cost: {mean_cost}')  
print(f'Variance of Daily Cost: {variance_cost}')

## 19. Dictionary Key Case Sensitivity

In Python, dictionary keys are case-sensitive, so `'Anna'` and `'anna'` are treated as distinct keys.

In [ ]:
ages_dict = {'Anna': 25, 'Jason': 30, 'Nadia': 35}

ages_dict['anna'] = 28  # adding with different case

print(ages_dict)  # output without error shows that 'Anna' and 'anna' are treated as different keys

## 20. Counting Characters in a String

This snippet counts each character in `str_1`, ignoring spaces and ensuring the count is case-insensitive.

In [ ]:
str_1 = "Success is the result of consistent, persistent effort."

char_count = {}  # initialize an empty dictionary

for char in str_1:  # loop through each character in the string
    if char != ' ':  # ignore spaces
        char_lower = char.lower()    # convert to lower case for case insensitivity
        if char_lower in char_count: # if we have seen this character before
            char_count[char_lower] += 1  # increment the count if already in dictionary
        else:
            char_count[char_lower] = 1  # initialize count for this new character

print(char_count)

## 21. Unique Elements from a List

This snippet shows two methods for extracting unique elements from a list: one using the `set()` function and the other using a manual check.

In [ ]:
list_nums = [1, 2, 1, 3, 5, 7, 7, 6, 3, 10, 7, 2, 1]

# Method 1: using set() to get unique elements
unique_with_set = list(set(list_nums))  # convert to set and back to list
print(f'Unique elements using set: {unique_with_set}')

# Method 2: Without using set()
unique_without_set = []  # initialize empty list for unique elements
for num in list_nums:
    if num not in unique_without_set:  # if the number is not already in the list
        unique_without_set.append(num)  # add unique number to the list

print(f'Unique elements without using set: {unique_without_set}')

## 22. Employee Salary Adjustment
This code iterates through the `employees` dictionary and increases the salary of those earning less than $50_000 by 10%, updating the dictionary in place. Do you think this can be done with a dictionary comprehension?

In [ ]:
employees = {'Emily': 48_000, 'Andrew': 52_000, 'Mike': 47_000, 'Anna': 60_000}

for employee, salary in employees.items():  # loop through each employee
    if salary < 50_000:
        employees[employee] *= 1.1  # increase salary by 10%

print('Updated Salaries:', employees)

## 23. Salary Analysis

The mean is calculated by summing the salaries and dividing by the number of salaries. The median is determined by sorting the list and finding the middle value(s).

In [ ]:
salaries = [50, 40, 500, 50, 40, 50, 40, 40, 80, 40]
n = len(salaries)
mean_salary = sum(salaries) / n     # mean salary

sorted_salaries = sorted(salaries)  # sort salaries for finding median

# median salary
if n % 2 == 1:  # if number of data points is odd
    median_salary = sorted_salaries[n // 2]  # middle value
else:  # if number of data points is even
    # average of two middle values
    median_salary = (sorted_salaries[n // 2 - 1] + sorted_salaries[n // 2 ]) / 2  
    # remember in the above line that the indexes start from 0! 

print(f'Mean Salary: {mean_salary}')  
print(f'Median Salary: {median_salary}')
print("""\nThe significant difference between the mean and median exists due to 
the presence of an outlier (the $500 salary), which skews the mean upwards. 
Therefore, using the mean to represent employees' average salary could lead to 
misleading conclusions. In such cases, the median is a more appropriate measure, 
as it is less affected by outliers, ensuring more accurate reporting.\n""")

## 23 (Alternative) 
As an alternative, libraries with statistical calculation capabilities such as statistics, numpy, or pandas can be used to calculate the mean and median. Below is a solution for finding the mean and median using the statistics module from Python's standard library.

In [ ]:
import statistics

salaries = [50, 40, 500, 50, 40, 50, 40, 40, 80, 40]

mean_stat = statistics.mean(salaries)  # calculate the mean using statistics module
median_stat = statistics.median(salaries)  # calculate the median using statistics module

print(f'Mean using statistics module: {mean_stat}')
print(f'Median using statistics module: {median_stat}')

## 24. Shoe Size Sales Analysis
### 24a. Find mean, median, and mode of the sold shoe sizes

The mean is calculated as before. The median is found by sorting the list. The mode is determined by counting the occurrences of each size in the list and identifying the most common sizes. `mode` is a more appropriate metric here as we are looking for ordering the most popular size (size that is sold the most)

In [ ]:
shoe_sizes = [
    10, 9, 7, 6, 11, 8, 7, 9, 10, 8, 7, 12, 6, 9, 10, 9, 10, 10, 8, 7,
    7, 6, 8, 9, 7, 11, 6, 6, 9, 8, 7, 9, 8, 10, 11, 7, 7, 6, 12, 10,
    8, 7, 10, 11, 9, 7, 8, 8, 7, 6, 12, 8, 10, 6, 10, 11, 9, 7, 6, 7,
    8, 10, 9, 12, 11, 6, 10, 6, 9, 7, 9, 7, 8, 10, 7, 9, 7, 10, 8, 8,
    7, 8, 9, 11, 12, 9, 10, 8, 11, 9, 6, 10, 7, 6, 7, 6, 10, 8, 9, 12
]

n = len(shoe_sizes)
mean_shoe_size = sum(shoe_sizes) / n    # mean
sorted_shoe_sizes = sorted(shoe_sizes)  # sort shoe sizes

if n % 2 == 1:  
    median_shoe_size = sorted_shoe_sizes[n // 2]  # middle value
else:  
    median_shoe_size = (sorted_shoe_sizes[n // 2 - 1] + sorted_shoe_sizes[n // 2]) / 2  # average of two middle values

mode_count = {}  # dictionary to count occurrences to find mode
for size in shoe_sizes:
    mode_count[size] = mode_count.get(size, 0) + 1  # if first time encountering, get 1. 
                                                    # otherwise, add 1 to count 

# Find the mode(s)
max_count = max(mode_count.values())  # highest frequency
mode_sizes = [size for size, count in mode_count.items() if count == max_count]  # sizes with highest frequency

print(f'Mean Shoe Size: {mean_shoe_size}')  
print(f'Median Shoe Size: {median_shoe_size}')  
print(f'Mode Shoe Sizes: {mode_sizes}')

## 25. Stock Price Analysis
The code calculates the sample covariance between Nvidia and Microsoft stock prices using list comprehension, sample variance for Apple stock prices, and covariance of Apple stock prices with itself, which is equal to its variance.

In [ ]:
# nvidia prices
nvid_p = [113.37, 117.87, 116.0, 116.26, 120.87, 123.51, 124.04,
          121.4, 121.44, 117.0, 118.85, 122.85, 124.92, 127.72, 
          132.89, 132.65, 134.81, 134.8, 138.07, 131.6, 135.72, 136.93]

# apple prices
appl_p = [220.69, 228.87, 228.2, 226.47, 227.37, 226.37, 227.52, 227.79,
          233.0, 226.21, 226.78, 225.67, 226.8, 221.69, 225.77, 229.54, 
          229.04, 227.55, 231.3, 233.85, 231.78, 232.15]

# microsoft prices
msft_p = [430.81, 438.69, 435.27, 433.51, 429.17, 432.11, 431.31, 
                   428.02, 430.3, 420.69, 417.13, 416.54, 416.06, 409.54, 
                   414.71, 417.46, 415.84, 416.32, 419.14, 418.74, 416.12, 416.72]

### 25a. sample covariance between nvidia and microsoft stock prices

In [ ]:
n = len(nvid_p)
mean_nvid = sum(nvid_p) / n
mean_msft = sum(msft_p) / n
mean_appl = sum(appl_p) / n

cov_nm = (1/(n - 1)) * sum([(nvid_p[i] - mean_nvid) * (msft_p[i] - mean_msft) for i in range(n)])
print(f'Sample Covariance (Nvidia, Microsoft): {cov_nm}')

### 25b. sample variance of apple stock prices

In [ ]:
var_appl = sum([(price - mean_appl) ** 2 for price in appl_p]) / (n - 1)
print(f'Sample Variance (Apple): {var_appl}')

### 25c. sample covariance of apple stock prices with itself

In [ ]:
cov_appl = (1/(n - 1)) * sum([(appl_p[i] - mean_appl) * (appl_p[i] - mean_appl) for i in range(n)])  
print(f'sample Covariance (Apple with itself): {cov_appl}')
print('\n Note that Covariance of a random variable with itself is its Variance')

## 25 Alternative
Similar to the previous problems, as an alternative, libraries with statistical calculation capabilities such as statistics, numpy, or pandas can be used to calculate the covariance, variance, and correlation coefficient. Below is a solution for this problem using the statistics module from Python's standard library.

In [ ]:
import statistics

cov_nm_stat = statistics.covariance(nvid_p, msft_p)
var_appl_stat = statistics.variance(appl_p)
cov_appl_stat = statistics.covariance(appl_p, appl_p)

print(f'Sample Covariance (Nvidia, Microsoft) using statistics module: {cov_nm_stat}')
print(f'Sample Variance (Apple) using statistics module: {var_appl_stat}')
print(f'Sample Covariance (Apple with itself): {cov_appl_stat}')

## 26. Pearson Correlation Coefficient
This snippet calculates the Pearson correlation coefficient using the covariance and variances of the stock prices.

### 26a. Pearson correlation coefficient between nvidia and microsoft stock prices

In [ ]:
import math

stdev_nvid = math.sqrt(1/(n - 1) * sum([(price - mean_nvid) ** 2 for price in nvid_p]))
stdev_msft = math.sqrt(1/(n - 1) * sum([(price - mean_msft) ** 2 for price in msft_p]))
corr_nm = cov_nm / (stdev_nvid * stdev_msft)
print(f'Pearson Correlation Coefficient (Nvidia, Microsoft): {corr_nm}')

### 26.b calculate Pearson correlation coefficient of apple stock prices with itself (should be 1)

In [ ]:
corr_appl = cov_appl/var_appl  # Correlation with itself
print(f'Pearson Correlation Coefficient (Apple with itself): {corr_appl}')

## 26. (Alternative)
similar to the previous problems, as an alternative, libraries with statistical calculation capabilities such as statistics, numpy, or pandas can be used to calculate the covariance, variance, and correlation coefficient. Below is a solution for this problem using the statistics module from Python's standard library.

In [ ]:
import statistics

corr_nm_stat = statistics.correlation(nvid_p, msft_p)
corr_appl_stat = statistics.correlation(appl_p, appl_p)

print(f'Pearson Correlation Coefficient (Nvidia, Microsoft): {corr_nm_stat}')
print(f'Pearson Correlation Coefficient (Apple with itself): {corr_appl_stat}')

## 27. Merging Dictionaries of Kids' Favorite Colors
This code shows three different ways to merge two dictionaries: using the `update()` method, dictionary unpacking, and using union `|` operator. The resulting merged dictionaries are the same. You can check it with `==` operator.

In [ ]:
kid_color_1 = {'Locas': 'red', 'Ava': 'green', 'Mia': 'orange'}
kid_color_2 = {'Evelyn': 'black', 'Mia': 'white'}

# Method 1: Using the update() method
merged_colors = kid_color_1.copy()  # make a copy to avoid modifying the original
merged_colors.update(kid_color_2)  # merge using update method

# Method 2: Using dictionary unpacking
merged_colors_unpacking = {**kid_color_1, **kid_color_2}  # Merge using unpacking

# Method 3: Using union operator
merged_colors_union = kid_color_1 | kid_color_2

print(f'Merged Colors (update method): {merged_colors}')
print(f'Merged Colors (unpacking): {merged_colors_unpacking}')
print(f'Merged Colors (union): {merged_colors_union}')

## 28. Merging Sales Data Dictionaries

This snippet merges two dictionaries, summing values for keys that exist in both. It uses a `for` loop to check for existing keys and updates the merged dictionary accordingly.eport.

In [ ]:
sales_q_1 = {'tv': 100, 'xbox': 200, 'macbook': 30}
sales_q_2 = {'xbox': 150, 'speaker': 5}

merged_sales = sales_q_1.copy() # initialize with values from sales_q_1

for item, sales in sales_q_2.items():
    if item in merged_sales:
        merged_sales[item] += sales  # Sum if key exists
    else:
        merged_sales[item] = sales  # update with a new key

print(f'Merged Sales: {merged_sales}')

## 29. Filtering Students Based on Grades
The code uses list comprehension to filter and create a list of students who have grades above 85.

In [ ]:
students = {'Noah': 90, 'Jack': 82, 'Sophia': 97, 'Lily': 92, 'Chloe': 77}

above_85_students = [name for name, grade in students.items() if grade > 85]
# above line using dictionary's items() method inside a list comprehension

print(f'Students with grades above 85: {above_85_students}')

## 30. Mini Case Study: Quarterly Financial Data

This snippet creates a list of dictionaries to represent the financial data, accesses specific values, updates entries, and calculates total revenue and expenses, culminating in a summary report.

### 30.a

In [ ]:
fin_data = [
    {
        'Company': 'Alpha', 
        'Financials': {
            'Q1 Rev': 120_000, 
            'Q1 Exp': 80_000, 
            'Q2 Rev': 140_000, 
            'Q2 Exp': 90_000
        }
    },
    {
        'Company': 'Beta', 
        'Financials': {
            'Q1 Rev': 200_000, 
            'Q1 Exp': 150_000, 
            'Q2 Rev': 220_000, 
            'Q2 Exp': 160_000
        }
    },
    {
        'Company': 'Gamma', 
        'Financials': {
            'Q1 Rev': 300_000, 
            'Q1 Exp': 250_000, 
            'Q2 Rev': 320_000, 
            'Q2 Exp': 240_000
        }
    }
]

### 30.b

In [ ]:
beta_q2_rev = fin_data[1]['Financials']['Q2 Rev']  # Q2 revenue of Beta
print(f'Beta Q2 Revenue: {beta_q2_rev:_}')

### 30.c

In [ ]:
gamma_exp_total = fin_data[2]['Financials']['Q1 Exp'] + fin_data[2]['Financials']['Q2 Exp']
print(f'Total Expenses for Gamma: {gamma_exp_total:_}')

### 30.d

In [ ]:
for company in fin_data:
    q1_rev = company['Financials']['Q1 Rev']
    q1_exp = company['Financials']['Q1 Exp']
    net_prof_q1 = q1_rev - q1_exp   # net profit in Q1
    print(f'{company["Company"]} Q1 Net Profit: {net_prof_q1:_}')

### 30.f

In [ ]:
fin_data[0]['Financials']['Q2 Exp'] = 95_000  
print(f'Updated Q2 Expenses for Alpha: {fin_data[0]["Financials"]["Q2 Exp"]:_}')
print()

for company in fin_data:
    q1_rev = company['Financials']['Q1 Rev']
    q1_exp = company['Financials']['Q1 Exp']
    prof_margin = ((q1_rev - q1_exp) / q1_rev) * 100  # Calculate profit margin
    company['Financials']['Q1 Prof Margin'] = prof_margin

print("UPDATED FINANCIAL DATA:")
for company in fin_data:
    print(company)
    print()

### 30.g

In [ ]:
fin_data.append({
    'Company': 'Delta', 
    'Financials': {
        'Q1 Rev': 180_000, 
        'Q1 Exp': 130_000, 
        'Q2 Rev': 190_000, 
        'Q2 Exp': 140_000
    }
})
print('UPDATED FINANCIAL DATA WITH DELTA:')
for company in fin_data:
    print(company)
    print()

### 30.h

In [ ]:
total_rev = sum(company['Financials']['Q1 Rev'] + company['Financials']['Q2 Rev'] for company in fin_data)
total_exp = sum(company['Financials']['Q1 Exp'] + company['Financials']['Q2 Exp'] for company in fin_data)

summary_report = {'Total Revenue': total_rev, 'Total Expenses': total_exp}
print('Summary Report:', summary_report)