In [ ]:
## Q1: Product of numbers 7 and 8
print(7 * 8)

In [ ]:
## Q2: Divide 10 by 3 and print remainder
print(10 % 3)

In [ ]:
## Q3: Check if 5 is even or odd
print('Odd' if 5 % 2 != 0 else 'Even')
# above is a one line solution; you can write it in several lines 
# using a regular if as follows
if 5 % 2 != 0:
    print('Odd')
else:
    print('Even')

In [ ]:
## Q4: Square root of 16
print(16 ** 0.5)

In [ ]:
## Q5: Area of circle with radius 5
print(3.14159 * (5 ** 2))
# Alternatively, you can write
import math
print(math.pi * (5 ** 2))

In [ ]:
## Q6: Area of triangle with base 10 and height 5
print(0.5 * 10 * 5)

In [ ]:
## Q7: Length of 'Hello, BARM!'
print(len('Hello, BARM!'))

In [ ]:
## Q8: Convert 'Business' to uppercase
print('Business'.upper())

In [ ]:
## Q9: Convert 'PYTHON' to lowercase
print('PYTHON'.lower())

In [ ]:
## Q10: Check if '12345' is a digit
print('12345'.isdigit())

In [ ]:
## Q11: Find first occurrence of 'python'
string = 'I love python programming in Python for Data Analysis course'
print(string.lower().find('python'))  # this is the fancy solution


# Here is a simpler and longer solution
string = 'I love python programming in Python for Data Analysis course'

# Convert to lowercase and split the sentence
words = string.lower().split()

# Iterate over the words to find the index of 'python'
index = None
for i, word in enumerate(words):
    if word == 'python':
        index = string.lower().index(word)  # Get the starting position of 'python' in the original string
        break

print(index)

In [ ]:
## Q12: Replace 'a' with '@' in 'banana'
print('banana'.replace('a', '@'))

In [ ]:
## Q13: Check if 'radar' is palindrome
print('radar' == 'radar'[::-1])

In [ ]:
## Q14: Reverse 'python'
print('python'[::-1])

In [ ]:
## Q15: Extract domain from email
email = 'naser.nikandish@jhu.edu'
print(email.split('@')[1].upper())

In [ ]:
## Q16: Split and find longest word
words = 'World of Python Java C Rubi Julia'.split()
print(max(words, key=len)) # Yes! max can also accept key

In [ ]:
## Q17: Remove duplicate words
text = 'Python for Data Analysis, Data Analytics, Business Analytics'
temp = text.lower()
words = temp.replace(',', '').split()  # Remove commas and split into words

# Create a list of unique words without using fromkeys
unique_words = []
for word in words:
    if word not in unique_words:
        unique_words.append(word)

print(' '.join(unique_words))

In [ ]:
## Q18: Length of list [1, 2, 3, 4, 5]
print(len([1, 2, 3, 4, 5]))

In [ ]:
## Q19: Add 6 to list [1, 2, 3, 4, 5]
list1 = [1, 2, 3, 4, 5]
list1.append(6)
print(list1)

In [ ]:
## Q20: Insert 0 at third position
list1 = [1, 2, 3, 4, 5]
list1.insert(2, 0)
print(list1)

In [ ]:
## Q21: Remove last element from list
list1 = [1, 2, 3, 4, 5]
list1.pop()  # you can do del list1[-1]
print(list1)

In [ ]:
## Q22: Max and min of list
list2 = [3, 1, 4, 1, 5, 9, 2, 6]
print(max(list2), min(list2))

In [ ]:
## Q23: Find index of 3 in list
list3 = [1, 2, 3, 4, 3, 5]
print(list3.index(3))

In [ ]:
## Q24: Count occurrences of 3 in list
print([1, 2, 3, 4, 3, 5].count(3))

In [ ]:
## Q25: Sort list in ascending order
list2 = [3, 1, 4, 1, 5, 9, 2, 6]
list2.sort()
print(list2)

In [ ]:
## Q26: Reverse list
list1 = [1, 2, 3, 4, 5]
list1.reverse()
print(list1)

In [ ]:
## Q27: Indexes of max and min
list2 = [3, 1, 4, 1, 5, 9, 2, 6]
print(list2.index(max(list2)), list2.index(min(list2)))

In [ ]:
## Q28: Remove duplicates
print(list(set([1, 2, 2, 3, 4, 4, 5])))

In [ ]:
## Q29: List of numbers 1-1000 divisible by 3 and 5
print([num for num in range(1, 1001) if num % 3 == 0 and num % 5 == 0 and len(str(num)) % 2 == 0])

# alternatively, you can do it without list comprehension as
result = []
for num in range(1, 1001):
    if num % 3 == 0 and num % 5 == 0 and len(str(num)) % 2 == 0:
        result.append(num)

print(result)

In [ ]:
## Q30: Third element of tuple (1, 2, 3, 4, 5)
tuple1 = (1, 2, 3, 4, 5)
print(tuple1[2])

In [ ]:
## Q31: Convert tuple to list
print(list((1, 2, 3, 4, 5)))

In [ ]:
## Q32: Convert list to tuple
print(tuple([1, 2, 3, 4, 5]))

In [ ]:
## Q33: Check if 3 in tuple
print(3 in (1, 2, 3, 4, 5))

In [ ]:
## Q34: Count occurrences of 2 in tuple
print((1, 2, 3, 2, 4, 2, 5).count(2))

In [ ]:
## Q35: Index of 3 in tuple
print((1, 2, 3, 4, 5).index(3))

In [ ]:
## Q36: Unpack tuple (a, b, c, d)
tuple2 = ('a', 'b', 'c', 'd')
x, y, z, w = tuple2
print(x, y, z, w)

In [ ]:
## Q37: Merge tuples
print((1, 2, 3) + (4, 5, 6))

In [ ]:
## Q38: Function with *args

def process_args(*args):
    return sum(args), len(args), tuple(set(args))
print(process_args(10, 20, 30, 10, 40))

In [ ]:
## Q39: Create dictionary
print({'apple': 1, 'banana': 2, 'cherry': 3})

In [ ]:
## Q40: Access 'banana' in dictionary
fruit_dict = {'apple': 1, 'banana': 2, 'cherry': 3}
print(fruit_dict['banana'])

In [ ]:
## Q41: Update 'apple' in dictionary
fruit_dict = {'apple': 1, 'banana': 2, 'cherry': 3}
fruit_dict['apple'] = 4
print(fruit_dict)

In [ ]:
## Q42: Add a new key-value pair 'date': 4 to the dictionary and print the updated dictionary.
dictionary = {'apple': 1, 'banana': 2, 'cherry': 3}
dictionary['date'] = 4
print(dictionary)

In [ ]:
## Q43: Remove the key-value pair with key 'banana' from the dictionary and print the updated dictionary.
dictionary = {'apple': 1, 'banana': 2, 'cherry': 3}
dictionary.pop('banana')
print(dictionary)

In [ ]:
## Q44: Check if the key 'apple' exists in the dictionary and print the result.
dictionary = {'apple': 1, 'banana': 2, 'cherry': 3}
print('apple' in dictionary)

In [ ]:
## Q45: Print all the keys of the dictionary.
dictionary = {'apple': 1, 'banana': 2, 'cherry': 3}
print(dictionary.keys())

In [ ]:
## Q46: Print all the values of the dictionary.
dictionary = {'apple': 1, 'banana': 2, 'cherry': 3}
print(dictionary.values())

In [ ]:
## Q47: Merge two dictionaries and print the result.
dict1 = {'apple': 1, 'banana': 2}
dict2 = {'cherry': 3, 'date': 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

In [ ]:
## Q48: Print names of students with grades above 85.
grades = {"John": 82, "Anna": 90, "George": 67, "Marry": 92}
for name, grade in grades.items():
    if grade > 85:
        print(name)

In [ ]:
## Q49: Merge dictionaries with overlapping keys, combining values in a list.
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}
merged_dict = {}
for key in dict1.keys() | dict2.keys():
    values = []
    if key in dict1:
        values.append(dict1[key])
    if key in dict2:
        values.append(dict2[key])
    if len(values) > 1:
        merged_dict[key] = values
    else:
        merged_dict[key] = values[0]
print(merged_dict)

In [ ]:
## Q50: Print keys with maximum and minimum values.
values = {"x": 12, "y": 25, "z": 5}
max_key = max(values, key=lambda k: values[k])
min_key = min(values, key=lambda k: values[k])
print("Max key:", max_key)
print("Min key:", min_key)

In [ ]:
## Q51: Convert list of tuples into a dictionary with list values for duplicate keys.
data = [("a", 1), ("b", 2), ("a", 3)]
result = {}
for key, value in data:
    if key not in result:
        result[key] = []
    result[key].append(value)
print(result)

In [ ]:
## Q52: Count occurrences of each character in a string and print the three most common characters.
from collections import Counter  # didnt talk about this in class
s = "aabbccddeeffggghhiijj"
char_counts = Counter(s)
most_common_chars = char_counts.most_common(3)
print(most_common_chars)

# solution 2
s = "aabbccddeeffggghhiijj"
char_counts = {}

# Count occurrences of each character
for char in s:
    if char in char_counts:
        char_counts[char] += 1
    else:
        char_counts[char] = 1

# Sort characters by count in descending order and get the top 3
most_common_chars = sorted(char_counts.items(), key=lambda x: x[1], reverse=True)[:3]
print(most_common_chars)

In [ ]:
## Q53: Print the word that appears the most times from the given dictionary.
words = {"apple": 5, "banana": 2, "cherry": 8}
most_common_word = max(words, key=lambda k: words[k])
print(most_common_word)

In [ ]:
## Q54: Create a function that converts an amount from USD to a specified currency using a conversion dictionary.
conversion = {"USD": 1, "EUR": 0.85, "JPY": 110}
def convert_from_usd(amount, currency):
    if currency in conversion:
        return amount * conversion[currency]
    else:
        return "Currency not available"

print(convert_from_usd(100, "EUR"))

In [ ]:
## Q55: Print all colors whose hexadecimal code contains "00" from the given dictionary.
colors = {"red": "#FF0000", "green": "#008000", "blue": "#0000FF"}
for color, hex_code in colors.items():
    if "00" in hex_code:
        print(color)

In [ ]:
## Q56: Update votes by adding a vote for "Bob" and removing one from "Alice", then print the updated dictionary.
votes = {"Alice": 3, "Bob": 4, "Charlie": 2}
votes["Bob"] += 1
votes["Alice"] -= 1
print(votes)

In [ ]:
## Q57: Calculate the average grade for each student across all subjects in a nested dictionary.
school = {"John": {"Math": 90, "History": 85}, "Anna": {"Math": 80, "History": 92}}
for student, subjects in school.items():
    avg_grade = sum(subjects.values()) / len(subjects)
    print(f"{student}: {avg_grade}")

In [ ]:
## Q58: Find the student with the highest marks, add a new student, and increase marks by 5%.
students = {"Alice": 85, "Bob": 92, "Clara": 87, "Dave": 75, "Eva": 90}

# a) Find the student with the highest marks
highest_student = max(students, key=lambda student: students[student])
print("Highest student:", highest_student)

# b) Add a new student "Frank" with marks 88
students["Frank"] = 88
print("After adding Frank:", students)

# c) Increase the marks of each student by 5%
for student in students:
    students[student] = students[student] * 1.05
print("After 5% increase:", students)

In [ ]:
## Q59: Create a set with elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

In [ ]:
## Q60: Add the number 6 to the set {1, 2, 3, 4, 5} and print the updated set.
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)

In [ ]:
## Q61: Remove the number 3 from the set {1, 2, 3, 4, 5} and print the updated set.
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print(my_set)

In [ ]:
## Q62: Check if the number 4 exists in the set {1, 2, 3, 4, 5} and print the result.
my_set = {1, 2, 3, 4, 5}
print(4 in my_set)

In [ ]:
## Q63: Print the union of the sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

In [ ]:
## Q64: Print the intersection of the sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1 & set2
print(intersection_set)

In [ ]:
## Q65: Check if the set {1, 2, 3} is a subset of the set {1, 2, 3, 4, 5} and print the result.
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
print(set1.issubset(set2))

In [ ]:
## Q66: Check if the set {1, 2, 3, 4, 5} is a superset of the set {1, 2, 3} and print the result.
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
print(set1.issuperset(set2))

In [ ]:
## Q67: Print the symmetric difference between the sets {1, 2, 3, 4} and {3, 4, 5, 6}.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
symmetric_difference = set1 ^ set2
print(symmetric_difference)

In [ ]:
## Q68: Write a function to find union, intersection, and symmetric difference of two sets and return them as a tuple.
def set_operations(set1, set2):
    union = set1 | set2
    intersection = set1 & set2
    symmetric_difference = set1 ^ set2
    return (union, intersection, symmetric_difference)

set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set_operations(set1, set2))

In [ ]:
## Q69: Write a function `calculate_total` to calculate the total cost of pizzas ordered. Each pizza costs $10.
def calculate_total(pizzas):
    return pizzas * 10

print(calculate_total(5))

In [ ]:
## Q70: Write a function `greet` that prints a greeting message with a given name.
def greet(name):
    print(f"Hello, {name}!")

greet("Alex")

In [ ]:
## Q71: Write a function `sum_of_list` that returns the sum of numbers in a list.
def sum_of_list(numbers):
    return sum(numbers)

print(sum_of_list([2, 4, 6, 8, 10]))

In [ ]:
## Q72: Function to apply a 10% discount to a price.
def apply_discount(price):
    return price * 0.9

print(apply_discount(50))

In [ ]:
## Q73: Function to calculate number of pizzas required for a party given guests and pizza slice assumptions.
def party_planner(guests):
    slices_per_person = 2
    slices_per_pizza = 8
    total_slices_needed = guests * slices_per_person
    pizzas_needed = total_slices_needed // slices_per_pizza
    if total_slices_needed % slices_per_pizza != 0:
        pizzas_needed += 1
    return pizzas_needed

print(party_planner(16))

In [ ]:
## Q74: Function to find a favorite color from a list of name-color pairs.
def favorite_color(name, name_color_list):
    for person, color in name_color_list:
        if person == name:
            return color
    return "Name not found"

print(favorite_color("Alice", [('Bob', 'Blue'), ('Alice', 'Red'), ('Eve', 'Green')]))

In [ ]:
## Q75: Function to add a 5% tax to a price.
def add_tax(price):
    return price * 1.05

print(add_tax(20))

In [ ]:
## Q76: Function to return a list of squares up to a given number n.
def squared_numbers(n):
    return [i ** 2 for i in range(1, n + 1)]

print(squared_numbers(5))

In [ ]:
## Q77: Function to check if a given date matches a friend's birthday.
def is_birthday(date, friend_birthday="04-15"):
    return date == friend_birthday

print(is_birthday("04-15"))

In [ ]:
## Q78: Function to add "Milk" to a grocery list if not already present.
def weekly_groceries(items):
    if "Milk" not in items:
        items.append("Milk")
    return items

print(weekly_groceries(['Eggs', 'Bread', 'Butter']))

In [ ]:
## Q79: Lambda function to return a greeting message.
greet = lambda name: f"Hello, {name}!"
print(greet("Alex"))

In [ ]:
## Q80: Lambda function to double a number.
double = lambda x: x * 2
print(double(5))

In [ ]:
## Q81: Lambda function to check if a number is even.
is_even = lambda x: x % 2 == 0
print(is_even(6))

In [ ]:
## Q82: Function to recommend a random book from a given genre.
import random
def recommend_books(genre, books_dict):
    if genre in books_dict:
        return random.choice(books_dict[genre])
    else:
        return "Genre not found"

books = {'Mystery': ['Book1', 'Book2'], 'Romance': ['Book3', 'Book4']}
print(recommend_books('Mystery', books))

In [ ]:
## Q83: Split expenses

def split_expenses(expenses):
    total = sum(expenses.values())
    return total / 2
print(split_expenses({'rent': 1000, 'utilities': 150, 'groceries': 200}))

In [ ]:
## Q84: Set intersection function

def common_elements(list1, list2):
    return set(list1) & set(list2)  # intersection
print(common_elements([1, 2, 3, 4, 5], [4, 5, 6, 7, 8]))

In [ ]:
## Q85: Compute average grades
def compute_average(grades):
    return {student: sum(scores) / len(scores) for student, scores in grades.items()}
print(compute_average({'John': [85, 90, 78], 'Jane': [90, 88, 80]}))

In [ ]:
## Q86: Password strength checker
# Solution 1: very long line and difficult
def password_strength(password):
    return (len(password) >= 8 and any(c.islower() for c in password) and any(c.isupper() for c in password) and any(c.isdigit() for c in password) and any(c in '!@#$%^&*' for c in password))
print(password_strength('P@ssw0rd123'))

# Solution 2: much simpler to understand
# checks every character and if all criteria is satisfied then, it provides an answer


def password_strength(password):
    has_min_length = len(password) >= 8
    has_lower = False
    has_upper = False
    has_digit = False
    has_special = False
    
    for c in password:
        if c.islower():
            has_lower = True
        if c.isupper():
            has_upper = True
        if c.isdigit():
            has_digit = True
        if c in '!@#$%^&*':
            has_special = True
    
    return has_min_length and has_lower and has_upper and has_digit and has_special

print(password_strength('P@ssw0rd123'))

# Solution 3: Use any to simplify things a bit

def password_strength(password):
    has_min_length = len(password) >= 8
    has_lower = any(c.islower() for c in password)
    has_upper = any(c.isupper() for c in password)
    has_digit = any(c.isdigit() for c in password)
    has_special = any(c in '!@#$%^&*' for c in password)
    
    return has_min_length and has_lower and has_upper and has_digit and has_special

print(password_strength('P@ssw0rd123'))

In [ ]:
## Q87: Sort by last name using lambda
names = ['Alice Brown', 'Charlie Adams', 'Bob Clark']
names.sort(key=lambda name: name.split()[-1])
print(names)

In [ ]:
## Q88: Price calculator with tax
price_calculator = lambda price, tax_rate: price * (1 + tax_rate)
print(price_calculator(100, 0.05))

In [ ]:
## Q89: Filter by age for 21+ party
friends = {'Alice': 22, 'Bob': 19, 'Charlie': 23}
adults = [name for name, age in friends.items() if age >= 21]
print(adults)

In [ ]:
## Q90: Find mode in list
# solutiuon one using collection module of standard library
def find_mode(numbers):
    from collections import Counter
    counts = Counter(numbers)
    max_count = max(counts.values())
    return {num for num, count in counts.items() if count == max_count}
print(find_mode([1, 2, 3, 2, 4, 4, 5]))

# solution 2 without collection
def find_mode(numbers):
    counts = {}
    for num in numbers:
        if num in counts:
            counts[num] += 1
        else:
            counts[num] = 1
    
    max_count = max(counts.values())
    return {num for num, count in counts.items() if count == max_count}

print(find_mode([1, 2, 3, 2, 4, 4, 5]))

In [ ]:
## Q91: Count preferred shops
def find_preferred_shops(favorites):
    from collections import Counter  # we didnt cover this in class; 
                                     # let me know if you have any questions
    shop_count = Counter(shop for shops in favorites.values() for shop in shops)
    return dict(shop_count)
print(find_preferred_shops({'Alex': {'Walmart', 'Target'}, 'Jane': {'Walmart', "Macy's"}}))

# Solution 2: simpler solution
def find_preferred_shops(favorites):
    shop_count = {}
    for shops in favorites.values():
        for shop in shops:
            if shop in shop_count:
                shop_count[shop] += 1
            else:
                shop_count[shop] = 1
    return shop_count

print(find_preferred_shops({'Alex': {'Walmart', 'Target'}, 'Jane': {'Walmart', "Macy's"}}))

In [ ]:
## Q92: Bulk discount calculation
def bulk_discount(prices):
    if len(prices) > 10:
        discount = 0.2
    elif len(prices) > 5:
        discount = 0.1
    else:
        discount = 0
    return sum(prices) * (1 - discount)

print(bulk_discount([10, 20, 30, 40, 50, 60, 70]))

In [ ]:
## Q93: Find common interests
def common_interests(person1, person2):
    return person1 & person2  # intersection
print(common_interests({'reading', 'hiking', 'cooking'}, {'cooking', 'traveling', 'reading'}))

In [ ]:
## Q94: Grade categories function
def categorize_grades(grades):
    categories = {'A': 0, 'B': 0, 'C': 0, 'D': 0, 'F': 0}
    for grade in grades:
        if grade >= 90: categories['A'] += 1
        elif grade >= 80: categories['B'] += 1
        elif grade >= 70: categories['C'] += 1
        elif grade >= 60: categories['D'] += 1
        else: categories['F'] += 1
    return categories
print(categorize_grades([85, 90, 78, 60, 72, 88, 95]))

In [ ]:
## Q95: Custom exponentiation lambda
exponentiate = lambda base, exponent: base ** exponent
print(exponentiate(2, 3))

In [ ]:
## Q96: Employee salary increment
salaries = {'Alice': 50000, 'Bob': 60000, 'Charlie': 55000}
salaries = {name: salary * 1.1 for name, salary in salaries.items()}
print(salaries)

In [ ]:
## Q97: Extract domain from emails
emails = ['naser@gmail.com', 'alex@yahoo.com', 'jane@jhu.edu']
domains = [email.split('@')[1] for email in emails]
print(domains)

In [ ]:
## Q98: Sort employees by name and salary
employees = [('John', 50000), ('Jane', 75000), ('Doe', 65000), ('Alice', 60000)]
employees.sort(key=lambda x: x[0])
print('Sorted by name:', employees)
employees.sort(key=lambda x: x[1], reverse=True)
print('Sorted by salary:', employees)